.card_btn {
  display: block;
  margin-left: auto;
  background-color:rgb(209, 126, 71);
  border: none;
  padding: 0.6em 1.2em;
  font-size: 1.1rem;
  border-radius: 0.7em;
  font-weight: bold;
}

.card_btn:hover {
  transform: scale(1.05);
  box-shadow: 0 0 1em chocolate;
  background-color: rgb(165, 81, 42);
}